<!DOCTYPE html>
<html>
<head>
	<title>Unheard Stories</title>
	<link rel="shortcut icon" href="one_copy.ico">
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt|PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stle_wiki.css') }}">
</head>
<body>

{% block content %}

	<h2>{{first_name}}{{last_name}}</h2>

 	<div class="story">
    	<p>{{story}}</p>
	</div>

{% endblock %}
      <button class="more-stories"><a href = "\">Show me another story</a></button>
   </body>
</html>