<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
   </head>
   <body>
      <div class="form-style">
         <form action = "{{ url_for('addstr') }}" method = "POST">
            <h3 >New story</h3>
            <img src="{{ url_for('static', filename='form.png') }}">
           <div class="smth">
            <input type = "text" name = "FirstName" required placeholder="First Name" /></br>   
            <input type = "text" name = "LastName" required placeholder="Last Name" /><br>
            
            <textarea type = "text" name = "Story" class="stori" required placeholder="Add her story" /></textarea><br>
            <input class="button" type = "submit" value = "submit" /><br>
            </div>
         </form>
      </div>
   </body>
</html>