body{
  margin:0;
}
ropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
}

select {
  width: 60%;
  height: 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color:#264653;
  border-width: 2px;
  border-color: #264653;
  border-radius: 30px;
  margin-left:15%;

}
select::-ms-expand {
  display: none;
}

input{
  margin-left:1%;
  width:8em;
  height:2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  border-width: 2px;
  border-color: #E9C46A;
  border-radius: 20px;
  background-color:#E9C46A;
  transition: transform 0.5s;
}
input:hover{
    transform: scale(1.09);
}
.arrow{
  position: absolute;
  left:50%;
  top: auto;
  right: 0%;
  bottom: 0%;
  color: #fcf4e1;
  z-index: 1000;
}

a{
  color: #fcf4e1;
}

a:hover{
  color:#E9C46A;
}

.title{
  padding-top:23%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #264653;
  line-height: 1;
}
select option {
  color: #264653;
}
.bg-image{
  background-image: url('four_one.png');
  height: 100%; 
  width: 100%;
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40%;
}

.new_story_btn{
  height:2em;
  margin-top:2%;
  margin-left:60%;
  width:8em;
  background-color: #DA4167;
  font-family:'Open Sans', sans-serif;
  font-size:20px;
  color:#fcf4e1;
  border-width: 2px;
  border-color: #DA4167;
  border-radius: 15px;
  transition: transform 0.5s;

}
.new_story_btn:hover{
    transform: scale(1.2);
}

.cd-main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* vertically align its content */
  display: table;
  background: #DA4167;
}
.cd-main-content .center {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-bottom: .4em;
  font-family: "Rock Salt", cursive;
  font-size: 4rem;
  font-weight: 700;
  color: #fcf4e1;
  line-height: 1;
}


@media only screen and (min-width: 768px) {
  h2 {
    font-size: 5.8rem;
  }
}

